.body {
    width: 960px;
    margin: 0 auto;
}


.nav {
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 30px;
    width: 898px;
    height: 10px;
    position: relative;
}

.Name{
    Position: absolute;
    background: #4aaaa5;
    width: 200px;
    height: 70px;
    top: 0px;
    left: 80px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation{
    color: #777;
    height: 35px;
    position: absolute;
    top: 30px;
    right: 80px;
}

.background {
    background: url(../../assets/images/crossline-lines.png);
    width: 960px;
}

.section {
    background: #ffffff;
    border: 1px solid #dddddd;
    margin: 40px 80px 40px 80px;
    height: 575px;
    position: relative;
    color: #777777;
}

.break {
    width: 790px;
    background: #777;
    height: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
}

.pic {
    position: absolute;
    width: 25%;
    top: 75px;
    left: 0;
    margin-left: 5px;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    width: 72.5%;
    position: absolute;
    right: 0;
    top: 60px;
    color: #777777;
    margin-right: 5px;
}

.writing {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 80px;
    color: #777777;
    margin-left: 5px;
    margin-right: 5px;
}

.footer {
    background: #666666;
    color: white;
    text-align: center;
    border: 1px solid #dddddd;
    width: 960x;
}

.form{
    padding-left: 10px;
}

.pictures{
    position: relative;
}

.hangman {
    position: absolute;
    margin: 10px 10px 10px 10px;
    top:65px;
    left:0;
}

.rpg {
    position: absolute;
    margin: 10px 10px 10px 10px;
    top: 65px;
    left: 250px;
}

.trivia {
    position: absolute;
    margin: 10px 10px 10px 10px;
    top: 225px;
    left: 0;
}

.rutgers {
    position: absolute;
    margin: 10px 10px 10px 10px;
    top: 225px;
    left: 250px;
}

.rockpaper{
    position: absolute;
    margin: 10px 10px 10px 10px;
    top: 385px;
    left: 0;
}

h4{
    position: absolute;
    bottom: 0px;
    color: greenyellow;
    text-align: center;
    background: gray;
    width: 200px;
    font-size: 20px;
}