.body {
    width: 100%;
    margin: 0 auto;
}


.nav {
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 30px;
    width: 82.5%;
    height: 10px;
    position: relative;
    margin: 0 auto;
}

.Name{
    Position: absolute;
    background: #4aaaa5;
    width: 25%;
    height: 70px;
    top: 0px;
    left: 0px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    padding: 15px;
    font-size: 30px;
}

.navigation{
    color: #777;
    height: 35px;
    position: absolute;
    top: 40%;
    right: 5%;
}

.background {
    background: url(../../assets/images/crossline-lines.png);
    width: 100%;
}

.section {
    background: #ffffff;
    border: 1px solid #dddddd;
    margin: 0 auto;
    height: 575px;
    position: relative;
    color: #777777;
    width: 87%;
}

.break {
    width: 98%;
    background: #777;
    height: 3px;
    margin-left: 1%;
    margin-right: 1%;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    font-size: 30px;
}

.pic {
    position: absolute;
    width: 25%;
    top: 75px;
    left: 0;
    margin-left: 1%;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    position: absolute;
    right: 0;
    top: 15%;
    color: #777777;
    margin-right: 1%;
}

.writing {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 19%;
    color: #777777;
    margin-left: 1%;
    margin-right: 1%;
}

.footer {
    background: #666666;
    color: white;
    text-align: center;
    border: 1px solid #dddddd;
    width: 87.5%;
    margin: 0 auto;
}

.form{
    padding-left: 10px;
}

.pictures{
    position: relative;
}

.hangman {
    position: absolute;
    margin: 10px 10px 10px 10px;
    top:12%;
    left:0;
}

.rpg {
    position: absolute;
    margin: 10px 10px 10px 10px;
    top: 12%;
    left: 25%;
}

.trivia {
    position: absolute;
    margin: 10px 10px 10px 10px;
    top: 41%;
    left: 0;
}

.rutgers {
    position: absolute;
    margin: 10px 10px 10px 10px;
    top: 41%;
    left: 25%;
}

.rockpaper{
    position: absolute;
    margin: 10px 10px 10px 10px;
    top: 71%;
    left: 0;
}

h4{
    position: absolute;
    bottom: 0px;
    color: greenyellow;
    text-align: center;
    background: gray;
    width: 50%;
    font-size: 20px;
}

@media screen and (max-width: 980px) {
    .nav {
        width: 81.5%;
    }
    .section{
        width: 87.5%;
    }
    
    .pic{
        width: 25%;
    }

    .pictures{
        position: relative;
    }
    
    .hangman {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top:12%;
        left:0;
        width: 75%
    }
    
    .rpg {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 12%;
        left: 60%;
        width: 75%
    }
    
    .trivia {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 42%;
        left: 0;
        width: 75%
    }
    
    .rutgers {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 42%;
        left: 60%;
        width: 75%
    }
    
    .rockpaper{
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 72%;
        left: 0;
        width: 75%
    }
}

@media screen and (max-width: 768px) {
    .nav{
        width: 80%;
    }

    h1{
        font-size: 24px;
    }

    .section{
        width: 90%;
        height: 900px;
    }

    .pic{
        width: 25%;
    }

    .paragraph{
        position: absolute;
        top: 10%;
        width: 72%;
        margin-right: 1%;
    }
    .writing{
        position: absolute;
        bottom: 45%;
        width: 100%;
        margin-right: -1%;
    }

    .pictures{
        position: relative;
    }
    
    .hangman {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top:6%;
        left:0;
        width: 75%
    }
    
    .rpg {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 6%;
        left: 40%;
        width: 75%
    }
    
    .trivia {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 24%;
        left: 0;
        width: 75%
    }
    
    .rutgers {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 24%;
        left: 40%;
        width: 75%
    }
    
    .rockpaper{
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 42%;
        left: 0;
        width: 75%
    }
}


@media screen and (max-width: 640px) {
    .nav{
        width: 75%;
    }

    h1{
        font-size: 16px;
    }

    .section{
        width: 90%;
        height: 960px;
    }

    .pic{
        width: 98%;
    }

    .paragraph{
        position: absolute;
        top: 30%;
        width: 100%;
        margin-right: -1%;
    }
    .writing{
        position: absolute;
        bottom: 5%;
        width: 100%;
        margin-right: -1%;
    }

    .pictures{
        position: relative;
    }
    
    .hangman {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top:6%;
        left:0;
        width: 100%
    }
    
    .rpg {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 24%;
        left: 0;
        width: 100%
    }
    
    .trivia {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 42%;
        left: 0;
        width: 100%
    }
    
    .rutgers {
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 60%;
        left: 0;
        width: 100%
    }
    
    .rockpaper{
        position: absolute;
        margin: 10px 10px 10px 10px;
        top: 78%;
        left: 0;
        width: 100%
    }
}